@import url(index.css);
@import url(fonts.css);
@import url(mobile.css);
@import url(achievements.css);
@import url(avatar.css);
@import url(items.css);
@import url(spells.css);
@import url(items-premium.css);

header {
  width: 100%;
  height: 20rem;
  background-image: url(../images/layout/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -50px;
}

.logo {
  width: 100%;
  height: 100%;
  background-image: url(../images/layout/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

nav a {
  padding: 2rem;
  font-weight: 700;
}

nav a:hover {
  border-top: 1px solid white;
}

nav button {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  margin: 0 !important;
  padding: 2rem;
}

nav button:hover {
  border-top: 1px solid white;
}

.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
  display: flex;
}

.tops-vampire {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tops-vampire li {
  padding: 5rem;
}

.frame-character {
  width: 148px;
  height: 246px;
  background-image: url(../images/layout/frame_character.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.3rem;
}

.circle-vampire {
  width: 148px;
  height: 174px;
  background-image: url(../images/layout/circle_vampire.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.frame-avatar {
  width: 146px;
  height: 146px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

.frame-level {
  position: absolute;
  bottom: 29px;
  right: 32px;
  text-align: center;
  width: 18px;
}

.frame-name {
  width: 148px;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 8px;
  overflow-wrap: break-word;
  color: #9c5f23;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.name-color-0 {
  color: #9c5f23 !important;
}

.name-color-1 {
  color: #2bd7d9 !important;
}

.name-color-2 {
  color: #a60f93 !important;
}

.frame-bar {
  position: relative;
}

.frame-bar-life {
  width: 115px;
  height: 25px;
  background-image: url(../images/layout/red_bar.png);
  background-repeat: no-repeat;
  margin-left: 17px;
  line-height: 2;
  text-align: center;
}

.frame-bar span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12rem;
  margin-top: 2rem !important;
}

footer .logo {
  width: 220px;
  text-align: center;
}

footer div {
  display: flex;
  margin: 1rem;
  font-size: 0.8rem;
}

footer a {
  font-size: 0.8rem;
}

.icon-github {
  width: 50px;
  height: 50px;
  background-image: url(../images/layout/github.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-discord {
  width: 50px;
  height: 50px;
  background-image: url(../images/layout/discord.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.to-top {
  position: fixed;
  bottom: 3.2rem;
  right: 2rem;
  z-index: 1;
  font-size: 2rem;
  display: block;
  border: none;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 0.5rem !important;
  cursor: pointer;
}

.to-top i {
  width: 32px;
  height: 32px;
  background-image: url(../images/layout/to_top.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1002;
}

.loading {
  font-size: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal {
  position: relative;
  display: inline-block;
  width: 50%;
  min-height: 30%;
  max-height: 90%;
  overflow-y: auto;
  margin: 40px auto 0;
  padding: 40px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  background-color: #191a1d;
}

.modal .close-modal {
  position: absolute;
  display: block;
  right: 10px;
  top: 8px;
  font-size: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 !important;
}

.modal p {
  color: white;
}

.modal .ok-modal {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 8px;
}

.custom-modal {
  width: 70%;
}

.menu {
  position: sticky;
  top: 0;
  border-top: 4px solid #4e5254;
  padding-top: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: black;
  z-index: 1;
}

.dropdown-link {
  background-color: transparent;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 1.7rem;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background: #191a1d;
  border: 1px solid #4a4a4a;
  min-width: 160px;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.85rem;
}

.dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
}

.icon-mini-menu {
  width: 24px;
  height: 24px;
  background-image: url(../images/layout/mini_menu.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-battle {
  width: 32px;
  height: 32px;
  background-image: url(../images/layout/battle.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-hunt {
  width: 32px;
  height: 32px;
  background-image: url(../images/layout/hunt.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.content p {
  line-height: 1.5;
  color: white;
}

.alert {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px dashed #202020;
  margin-top: 10px;
}

.alert a {
  text-decoration: underline;
  font-size: 0.85rem;
}

.alert p {
  font-size: 0.85rem;
}

.title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.sub-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content span {
  font-size: 12px;
  line-height: 2;
}

.uppercase {
  text-transform: uppercase;
}

.icon-marry-search {
  width: 12px;
  height: 12px;
  background-image: url(../images/layout/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block !important;
  margin-left: 0.1rem;
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer;
}

.status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.character {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inventory {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.inventory-slot {
  background-image: url(../images/layout/empty_slot.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
}

.inventory-slot p {
  position: absolute;
  top: 0;
  left: 13px;
  line-height: 1;
  font-size: 11px;
}

.item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 80px;
  position: relative;
  right: 10px;
}

.profile-bg {
  background-image: url(../images/layout/profile_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  width: 286px;
  height: 481px;
  padding-top: 1px;
}

.avatar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  margin-top: 24px;
  margin-left: 10px;
  position: relative;
  z-index: -1;
}

.breed-vampire {
  background-image: url(../images/layout/vampire.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  width: 93px;
  height: 103px;
  top: 220px;
  left: 40px;
}

.level {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 258px;
  left: 180px;
  padding-top: 12px;
  text-align: center;
  font-size: 20px;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
}

.name {
  font-size: 24px;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  color: #9c5f23;
  margin-top: 40px;
  margin-left: 31px;
  width: 225px;
}

.position {
  margin-top: 11px;
  margin-left: 35px;
  width: 225px;
}

.age {
  margin-top: 11px;
  margin-left: 35px;
  width: 225px;
}

.empty-head {
  background-image: url(../images/layout/empty_head.png);
}

.empty-neck {
  background-image: url(../images/layout/empty_neck.png);
}

.empty-torso {
  background-image: url(../images/layout/empty_torso.png);
}

.empty-hand {
  background-image: url(../images/layout/empty_hand.png);
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 286px;
  font-size: 18px;
}

.wrapper {
  margin: 0 6px;
  padding: 6px 12px;
  border-right: 1px solid #3f4044;
  text-align: center;
}

.wrapper span {
  font-size: 18px;
  line-height: 1;
}

.gold {
  color: #e59e23;
}

.icon-gold {
  width: 21px;
  height: 16px;
  background-image: url(../images/layout/icon_gold.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.power {
  width: 30px;
  height: 30px;
  background-image: url(../images/layout/icon_power.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.combat {
  width: 30px;
  height: 30px;
  background-image: url(../images/layout/icon_combat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.grimoire {
  width: 30px;
  height: 30px;
  background-image: url(../images/layout/icon_grimoire.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

.attributes {
  margin-top: 2rem;
  width: 286px;
}

.attributes h4 {
  border: none;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
}

.bar {
  background-color: #1d1e21;
  border: 1px solid #242529;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  position: relative;
}

.bar p {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.progress {
  height: 25px;
  background-image: url(../images/layout/blue_bar.png);
  background-repeat: no-repeat;
  line-height: 1.4;
  text-align: center;
}

.bar-blue {
  background-image: url(../images/layout/blue_bar.png);
}

.bar-red {
  background-image: url(../images/layout/red_bar.png);
  background-position: center;
}

.bar-orange {
  background-image: url(../images/layout/orange_bar.png);
}

.train {
  border: none;
  text-align: center;
  cursor: pointer;
}

.table-responsive {
  overflow-x: auto;
}

.z-index-1000 {
  z-index: 1000;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.info-item h3,
.info-item h5 {
  font-weight: 400;
  border: none;
}

.info-item-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltip-text {
  background: #191a1d;
  border: 1px solid #4a4a4a;
  visibility: hidden;
  min-width: 100%;
  font-size: 12px;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 5px;
  transition: all 0.25s ease-out;
  transform: translateY(0px);
  pointer-events: none;
  opacity: 0;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  transform: translateY(-10px);
  transition: all 0.25s ease-out;
  opacity: 1;
}

.text-bold {
  font-weight: 700;
}

.dynamic-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.dynamic-table span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  line-height: 1;
  font-size: 16px;
}

.dynamic-table li {
  width: 100px;
  text-align: center;
}

.grimoire-decks {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.font-decorative {
  font-family: 'Cinzel Decorative', sans-serif;
}

.color-vitalis {
  color: #d92b4c !important;
}

.color-aurum {
  color: #eb8324 !important;
}

.color-praegressus {
  color: #2bd7d9 !important;
}

.color-alacris {
  color: #a60f93 !important;
}

.spell {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
}

.mold {
  background-image: url(../images/layout/mold.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 178px;
  height: 178px;
  padding-top: 7px;
  padding-left: 7px;
}

.sentinel-1 {
  background-image: url(../images/sentinels/kamena.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 163px;
  height: 163px;
  border-radius: 50%;
}

.sentinel-2 {
  background-image: url(../images/sentinels/zastita.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 163px;
  height: 163px;
  border-radius: 50%;
}

.sentinel-3 {
  background-image: url(../images/sentinels/tvrdica.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 163px;
  height: 163px;
  border-radius: 50%;
}

.sentinels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.sentinel-name {
  margin-top: 2rem;
  color: #9c5f23;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  text-align: center;
}

.icon-crystal {
  width: 21px;
  height: 16px;
  background-image: url(../images/layout/icon_crystal.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.crystal {
  color: #d43b1e !important;
}

.info-sentinel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.info-sentinel .img {
  width: 80px;
  height: 80px;
  border-radius: 0;
}

.info-sentinel-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.daily-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.icon-pvp-ranking {
  background-image: url(../images/layout/pvp_ranking.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
}

.daily-tasks p {
  font-size: 20px;
  font-weight: 700;
}

.items-center {
  align-items: center;
}

.achievements {
  background-color: #262626;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 30px;
  border-bottom: 1px solid black;
}

.achievements .divider {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.achievements h3 {
  margin-bottom: 0;
}

.achievements .bar {
  width: 200px;
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 2rem;
}

.icon-achievements {
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.icon-info {
  background-image: url(../images/layout/info.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.green {
  color: green !important;
}

.yellow {
  color: #ff0 !important;
}

.orange {
  color: orange !important;
}

.blue {
  color: #8b8bff !important;
}

.red {
  color: red !important;
}

.alert h3 {
  border: 0;
  margin: 0;
}

.text-start {
  text-align: start;
}

.alert strong {
  font-size: 0.85rem;
}

.active {
  border-top: 1px solid white;
}

.market-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.market-items-bg {
  background-image: url(../images/layout/market_item_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 214px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.market-item {
  width: 180px;
  height: 135px;
}

.market-items h3 {
  color: #9c5f23;
  font-weight: 700;
  border-bottom: 0;
  margin-bottom: 0;
  font-family: 'Cinzel Decorative', sans-serif;
}

.market-items p {
  font-size: 14px;
  line-height: 1.5rem;
}

.market-items span {
  font-size: 0.9rem;
  font-weight: 700;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.blacksmith-image {
  background-image: url(../images/layout/blacksmith.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 310px;
  height: 465px;
  filter: grayscale(20%) brightness(150%);
}

.blacksmith-box {
  background: #262626;
  padding: 20px 10px;
  flex-grow: 0.4;
}

.blacksmith-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
