.avatar-vampire-male-1 {
  background-image: url(../images/avatar/vampire/male/1.jpg);
}

.avatar-vampire-male-2 {
  background-image: url(../images/avatar/vampire/male/2.jpg);
}

.avatar-vampire-male-3 {
  background-image: url(../images/avatar/vampire/male/3.jpg);
}

.avatar-vampire-male-4 {
  background-image: url(../images/avatar/vampire/male/4.jpg);
}

.avatar-vampire-male-5 {
  background-image: url(../images/avatar/vampire/male/5.jpg);
}

.avatar-vampire-male-6 {
  background-image: url(../images/avatar/vampire/male/6.jpg);
}

.avatar-vampire-male-7 {
  background-image: url(../images/avatar/vampire/male/7.jpg);
}

.avatar-vampire-male-8 {
  background-image: url(../images/avatar/vampire/male/8.jpg);
}

.avatar-vampire-male-9 {
  background-image: url(../images/avatar/vampire/male/9.jpg);
}

.avatar-vampire-male-10 {
  background-image: url(../images/avatar/vampire/male/10.jpg);
}

.avatar-vampire-male-11 {
  background-image: url(../images/avatar/vampire/male/11.jpg);
}

.avatar-vampire-male-12 {
  background-image: url(../images/avatar/vampire/male/12.jpg);
}

.avatar-vampire-female-1 {
  background-image: url(../images/avatar/vampire/female/1.jpg);
}

.avatar-vampire-female-2 {
  background-image: url(../images/avatar/vampire/female/2.jpg);
}

.avatar-vampire-female-3 {
  background-image: url(../images/avatar/vampire/female/3.jpg);
}

.avatar-vampire-female-4 {
  background-image: url(../images/avatar/vampire/female/4.jpg);
}

.avatar-vampire-female-5 {
  background-image: url(../images/avatar/vampire/female/5.jpg);
}

.avatar-vampire-female-6 {
  background-image: url(../images/avatar/vampire/female/6.jpg);
}

.avatar-vampire-female-7 {
  background-image: url(../images/avatar/vampire/female/7.jpg);
}

.avatar-vampire-female-8 {
  background-image: url(../images/avatar/vampire/female/8.jpg);
}

.avatar-vampire-female-9 {
  background-image: url(../images/avatar/vampire/female/9.jpg);
}

.avatar-vampire-female-10 {
  background-image: url(../images/avatar/vampire/female/10.jpg);
}

.avatar-vampire-female-11 {
  background-image: url(../images/avatar/vampire/female/11.jpg);
}

.avatar-vampire-female-12 {
  background-image: url(../images/avatar/vampire/female/12.jpg);
}

.avatar-werewolf-male-1 {
  background-image: url(../images/avatar/werewolf/male/1.jpg);
}

.avatar-werewolf-male-2 {
  background-image: url(../images/avatar/werewolf/male/2.jpg);
}

.avatar-werewolf-male-3 {
  background-image: url(../images/avatar/werewolf/male/3.jpg);
}

.avatar-werewolf-male-4 {
  background-image: url(../images/avatar/werewolf/male/4.jpg);
}

.avatar-werewolf-male-5 {
  background-image: url(../images/avatar/werewolf/male/5.jpg);
}

.avatar-werewolf-male-6 {
  background-image: url(../images/avatar/werewolf/male/6.jpg);
}

.avatar-werewolf-male-7 {
  background-image: url(../images/avatar/werewolf/male/7.jpg);
}

.avatar-werewolf-male-8 {
  background-image: url(../images/avatar/werewolf/male/8.jpg);
}

.avatar-werewolf-male-9 {
  background-image: url(../images/avatar/werewolf/male/9.jpg);
}

.avatar-werewolf-male-10 {
  background-image: url(../images/avatar/werewolf/male/10.jpg);
}

.avatar-werewolf-male-11 {
  background-image: url(../images/avatar/werewolf/male/11.jpg);
}

.avatar-werewolf-male-12 {
  background-image: url(../images/avatar/werewolf/male/12.jpg);
}

.avatar-werewolf-female-1 {
  background-image: url(../images/avatar/werewolf/female/1.jpg);
}

.avatar-werewolf-female-2 {
  background-image: url(../images/avatar/werewolf/female/2.jpg);
}

.avatar-werewolf-female-3 {
  background-image: url(../images/avatar/werewolf/female/3.jpg);
}

.avatar-werewolf-female-4 {
  background-image: url(../images/avatar/werewolf/female/4.jpg);
}

.avatar-werewolf-female-5 {
  background-image: url(../images/avatar/werewolf/female/5.jpg);
}

.avatar-werewolf-female-6 {
  background-image: url(../images/avatar/werewolf/female/6.jpg);
}

.avatar-werewolf-female-7 {
  background-image: url(../images/avatar/werewolf/female/7.jpg);
}

.avatar-werewolf-female-8 {
  background-image: url(../images/avatar/werewolf/female/8.jpg);
}

.avatar-werewolf-female-9 {
  background-image: url(../images/avatar/werewolf/female/9.jpg);
}

.avatar-werewolf-female-10 {
  background-image: url(../images/avatar/werewolf/female/10.jpg);
}

.avatar-werewolf-female-11 {
  background-image: url(../images/avatar/werewolf/female/11.jpg);
}

.avatar-werewolf-female-12 {
  background-image: url(../images/avatar/werewolf/female/12.jpg);
}
