.item-premium-1 {
  background-image: url(../images/items/premium/haste_potion.png);
}

.item-premium-2 {
  background-image: url(../images/items/premium/chest1.png);
}

.item-premium-3 {
  background-image: url(../images/items/premium/chest2.png);
}

.item-premium-4 {
  background-image: url(../images/items/premium/chest3.png);
}

.item-premium-5 {
  background-image: url(../images/items/premium/chest4.png);
}
