.item-1 {
  background-image: url(../images/items/simple_blade.png);
}

.item-2 {
  background-image: url(../images/items/ancient_amulet.png);
}

.item-3 {
  background-image: url(../images/items/blood_amulet.png);
}

.item-4 {
  background-image: url(../images/items/chain_helmet.png);
}

.item-5 {
  background-image: url(../images/items/cobra_crown.png);
}

.item-6 {
  background-image: url(../images/items/dark_armor.png);
}

.item-7 {
  background-image: url(../images/items/katana.png);
}

.item-8 {
  background-image: url(../images/items/plate_armor.png);
}

.item-9 {
  background-image: url(../images/items/sharp_sword.png);
}

.item-10 {
  background-image: url(../images/items/simple_amulet.png);
}

.item-11 {
  background-image: url(../images/items/simple_armor.png);
}

.item-12 {
  background-image: url(../images/items/simple_helmet.png);
}
