.item-premium-1 {
  background-image: url(../images/items/premium/haste_potion.png);
}

.item-premium-2 {
  background-image: url(../images/items/premium/chest1.png);
}

.item-premium-3 {
  background-image: url(../images/items/premium/chest2.png);
}

.item-premium-4 {
  background-image: url(../images/items/premium/chest3.png);
}

.item-premium-5 {
  background-image: url(../images/items/premium/chest4.png);
}

.item-premium-6 {
  background-image: url(../images/items/premium/gb1.png);
}

.item-premium-7 {
  background-image: url(../images/items/premium/gb2.png);
}

.item-premium-8 {
  background-image: url(../images/items/premium/gb3.png);
}

.item-premium-9 {
  background-image: url(../images/items/premium/gb4.png);
}

.item-premium-10 {
  background-image: url(../images/items/premium/xpb_pve1.png);
}

.item-premium-11 {
  background-image: url(../images/items/premium/xpb_pve2.png);
}

.item-premium-12 {
  background-image: url(../images/items/premium/xpb_pve3.png);
}

.item-premium-13 {
  background-image: url(../images/items/premium/xpb_pve4.png);
}

.item-premium-14 {
  background-image: url(../images/items/premium/xpb_pve5.png);
}

.item-premium-15 {
  background-image: url(../images/items/premium/bosspack1.png);
}

.item-premium-16 {
  background-image: url(../images/items/premium/bosspack2.png);
}

.item-premium-17 {
  background-image: url(../images/items/premium/bosspack3.png);
}

.item-premium-18 {
  background-image: url(../images/items/premium/bosspack4.png);
}

.item-premium-19 {
  background-image: url(../images/items/premium/bosspack5.png);
}
