@media (max-width: 800px) {
  header {
    background-position: top !important;
    height: 10rem !important;
  }

  main {
    padding: 2rem !important;
  }

  .to-top {
    right: 1rem !important;
  }

  .modal {
    width: 90% !important;
  }

  .menu {
    padding: 1.5rem !important;
  }

  .menu-dropdown {
    display: none !important;
    margin-top: 1.5rem !important;
    overflow: auto !important;
    overflow: auto !important;
    height: 350px !important;
  }

  .dropdown {
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
  }

  .dropdown-content {
    border: none !important;
    background-color: black !important;
    position: relative !important;
  }

  .menu-mobile {
    display: flex !important;
  }

  .character {
    display: contents !important;
  }

  .inventory {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    height: 124px !important;
  }

  .inventory-slot {
    min-width: 100px !important;
    height: 100px !important;
    margin: 1rem !important;
  }

  .equipped-item {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    height: 124px !important;
  }
}
