.spell-1 {
  background-image: url(../images/spells/paralyze.png);
}

.spell-2 {
  background-image: url(../images/spells/life_drain.png);
}

.spell-3 {
  background-image: url(../images/spells/mercenary_rush.png);
}

.spell-4 {
  background-image: url(../images/spells/db_protection.png);
}

.spell-5 {
  background-image: url(../images/spells/master_possession.png);
}

.spell-6 {
  background-image: url(../images/spells/auto_recovery.png);
}

.spell-7 {
  background-image: url(../images/spells/human_sacrifice.png);
}

.spell-8 {
  background-image: url(../images/spells/defense_break.png);
}

.spell-9 {
  background-image: url(../images/spells/vigilance.png);
}

.spell-10 {
  background-image: url(../images/spells/mirror_attack.png);
}

.spell-11 {
  background-image: url(../images/spells/dizziness_protection.png);
}

.spell-12 {
  background-image: url(../images/spells/pb_protection.png);
}

.spell-13 {
  background-image: url(../images/spells/mp_protection.png);
}

.spell-14 {
  background-image: url(../images/spells/curse_protection.png);
}

.spell-15 {
  background-image: url(../images/spells/rage.png);
}

.spell-16 {
  background-image: url(../images/spells/insanity.png);
}

.spell-17 {
  background-image: url(../images/spells/berserker_attack.png);
}

.spell-18 {
  background-image: url(../images/spells/destruction.png);
}

.spell-19 {
  background-image: url(../images/spells/extreme_revenge.png);
}

.spell-20 {
  background-image: url(../images/spells/ld_protection.png);
}

.spell-21 {
  background-image: url(../images/spells/curse.png);
}

.spell-22 {
  background-image: url(../images/spells/poison_bite.png);
}

.spell-23 {
  background-image: url(../images/spells/dizziness.png);
}

.spell-24 {
  background-image: url(../images/spells/persistence.png);
}

.spell-25 {
  background-image: url(../images/spells/ma_protection.png);
}

.spell-26 {
  background-image: url(../images/spells/paralyze_protection.png);
}

.spell-27 {
  background-image: url(../images/spells/inflict_wound.png);
}

.spell-28 {
  background-image: url(../images/spells/counter_attack.png);
}
