.icon-soulmate {
  background-image: url(images/achievements/soulmate.png);
}

.icon-saboteur {
  background-image: url(images/achievements/saboteur.png);
}

.icon-sentinel {
  background-image: url(images/achievements/sentinel.png);
}

.icon-obsession {
  background-image: url(images/achievements/obsession.png);
}

.icon-hunter {
  background-image: url(images/achievements/hunter.png);
}

.icon-slayer {
  background-image: url(images/achievements/slayer.png);
}

.icon-genocidal {
  background-image: url(images/achievements/genocidal.png);
}

.icon-warlord {
  background-image: url(images/achievements/warlord.png);
}

.icon-investor {
  background-image: url(images/achievements/investor.png);
}
