header {
  width: 100%;
  height: 20rem;
  background-image: url(images/layout/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -50px;
}

.logo {
  width: 100%;
  height: 100%;
  background-image: url(images/layout/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 1;
}

nav a {
  padding: 2rem;
  background-color: #1a1b1e;
  font-size: 0.8rem;
}

nav a:hover {
  border-top: 1px solid white;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
  display: flex;
}

.tops-vampire {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tops-vampire li {
  padding: 5rem;
}

.frame-character {
  width: 148px;
  height: 246px;
  background-image: url(images/layout/frame_character.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.3rem;
}

.circle-vampire {
  width: 148px;
  height: 174px;
  background-image: url(images/layout/circle_vampire.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.frame-avatar {
  width: 148px;
  height: 148px;
  background-image: url(images/avatar/vampire/male/1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
}

.avatar-vampire-male-1 {
  background-image: url(images/avatar/vampire/male/1.jpg);
}

.avatar-vampire-male-2 {
  background-image: url(images/avatar/vampire/male/2.jpg);
}

.avatar-vampire-male-3 {
  background-image: url(images/avatar/vampire/male/3.jpg);
}

.avatar-vampire-male-4 {
  background-image: url(images/avatar/vampire/male/4.jpg);
}

.avatar-vampire-male-5 {
  background-image: url(images/avatar/vampire/male/5.jpg);
}

.avatar-vampire-male-6 {
  background-image: url(images/avatar/vampire/male/6.jpg);
}

.avatar-vampire-male-7 {
  background-image: url(images/avatar/vampire/male/7.jpg);
}

.avatar-vampire-male-8 {
  background-image: url(images/avatar/vampire/male/8.jpg);
}

.avatar-vampire-male-9 {
  background-image: url(images/avatar/vampire/male/9.jpg);
}

.avatar-vampire-male-10 {
  background-image: url(images/avatar/vampire/male/10.jpg);
}

.avatar-vampire-male-11 {
  background-image: url(images/avatar/vampire/male/11.jpg);
}

.avatar-vampire-male-12 {
  background-image: url(images/avatar/vampire/male/12.jpg);
}

.avatar-vampire-female-1 {
  background-image: url(images/avatar/vampire/female/1.jpg);
}

.avatar-vampire-female-2 {
  background-image: url(images/avatar/vampire/female/2.jpg);
}

.avatar-vampire-female-3 {
  background-image: url(images/avatar/vampire/female/3.jpg);
}

.avatar-vampire-female-4 {
  background-image: url(images/avatar/vampire/female/4.jpg);
}

.avatar-vampire-female-5 {
  background-image: url(images/avatar/vampire/female/5.jpg);
}

.avatar-vampire-female-6 {
  background-image: url(images/avatar/vampire/female/6.jpg);
}

.avatar-vampire-female-7 {
  background-image: url(images/avatar/vampire/female/7.jpg);
}

.avatar-vampire-female-8 {
  background-image: url(images/avatar/vampire/female/8.jpg);
}

.avatar-vampire-female-9 {
  background-image: url(images/avatar/vampire/female/9.jpg);
}

.avatar-vampire-female-10 {
  background-image: url(images/avatar/vampire/female/10.jpg);
}

.avatar-vampire-female-11 {
  background-image: url(images/avatar/vampire/female/11.jpg);
}

.avatar-vampire-female-12 {
  background-image: url(images/avatar/vampire/female/12.jpg);
}

.avatar-werewolf-male-1 {
  background-image: url(images/avatar/werewolf/male/1.jpg);
}

.avatar-werewolf-male-2 {
  background-image: url(images/avatar/werewolf/male/2.jpg);
}

.avatar-werewolf-male-3 {
  background-image: url(images/avatar/werewolf/male/3.jpg);
}

.avatar-werewolf-male-4 {
  background-image: url(images/avatar/werewolf/male/4.jpg);
}

.avatar-werewolf-male-5 {
  background-image: url(images/avatar/werewolf/male/5.jpg);
}

.avatar-werewolf-male-6 {
  background-image: url(images/avatar/werewolf/male/6.jpg);
}

.avatar-werewolf-male-7 {
  background-image: url(images/avatar/werewolf/male/7.jpg);
}

.avatar-werewolf-male-8 {
  background-image: url(images/avatar/werewolf/male/8.jpg);
}

.avatar-werewolf-male-9 {
  background-image: url(images/avatar/werewolf/male/9.jpg);
}

.avatar-werewolf-male-10 {
  background-image: url(images/avatar/werewolf/male/10.jpg);
}

.avatar-werewolf-male-11 {
  background-image: url(images/avatar/werewolf/male/11.jpg);
}

.avatar-werewolf-male-12 {
  background-image: url(images/avatar/werewolf/male/12.jpg);
}

.avatar-werewolf-female-1 {
  background-image: url(images/avatar/werewolf/female/1.jpg);
}

.avatar-werewolf-female-2 {
  background-image: url(images/avatar/werewolf/female/2.jpg);
}

.avatar-werewolf-female-3 {
  background-image: url(images/avatar/werewolf/female/3.jpg);
}

.avatar-werewolf-female-4 {
  background-image: url(images/avatar/werewolf/female/4.jpg);
}

.avatar-werewolf-female-5 {
  background-image: url(images/avatar/werewolf/female/5.jpg);
}

.avatar-werewolf-female-6 {
  background-image: url(images/avatar/werewolf/female/6.jpg);
}

.avatar-werewolf-female-7 {
  background-image: url(images/avatar/werewolf/female/7.jpg);
}

.avatar-werewolf-female-8 {
  background-image: url(images/avatar/werewolf/female/8.jpg);
}

.avatar-werewolf-female-9 {
  background-image: url(images/avatar/werewolf/female/9.jpg);
}

.avatar-werewolf-female-10 {
  background-image: url(images/avatar/werewolf/female/10.jpg);
}

.avatar-werewolf-female-11 {
  background-image: url(images/avatar/werewolf/female/11.jpg);
}

.avatar-werewolf-female-12 {
  background-image: url(images/avatar/werewolf/female/12.jpg);
}

.frame-level {
  position: absolute;
  bottom: 29px;
  right: 32px;
  text-align: center;
  width: 18px;
}

.frame-name {
  width: 148px;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 8px;
  overflow-wrap: break-word;
  color: #9c5f23;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.name-color-1 {
  color: #2bd7d9;
}

.name-color-2 {
  color: #a60f93;
}

.frame-bar-life {
  width: 115px;
  height: 25px;
  background-image: url(images/layout/red_bar.png);
  background-repeat: no-repeat;
  margin-left: 17px;
  line-height: 2;
  text-align: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12rem;
  margin-top: 2rem !important;
  font-size: 0.8rem;
}

footer .logo {
  width: 220px;
  text-align: center;
}

footer div {
  display: flex;
  margin: 1rem;
}

.icon-github {
  width: 50px;
  height: 50px;
  background-image: url(images/layout/github.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-discord {
  width: 50px;
  height: 50px;
  background-image: url(images/layout/discord.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.to-top {
  position: fixed;
  bottom: 3.2rem;
  right: 2rem;
  z-index: 1;
  font-size: 2rem;
  display: block;
  border: none;
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 0.5rem !important;
  cursor: pointer;
}

.to-top i {
  width: 32px;
  height: 32px;
  background-image: url(images/layout/to_top.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.loading {
  font-size: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal {
  position: relative;
  display: inline-block;
  width: 50%;
  min-height: 30%;
  max-height: 90%;
  overflow-y: auto;
  margin: 40px auto 0;
  padding: 40px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  background-color: #191a1d;
}

.modal .close-modal {
  position: absolute;
  display: block;
  right: 10px;
  top: 8px;
  font-size: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 !important;
}

.modal p {
  color: white;
}

.modal .ok-modal {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 8px;
}

.menu {
  border-top: 4px solid #4e5254;
  padding-top: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.dropdown-link {
  background-color: transparent;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  margin: 0 !important;
  font-family: 'Cinzel', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 1.7rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #191a1d;
  border: 1px solid #4a4a4a;
  min-width: 160px;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.85rem;
}

.dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content p {
  line-height: 1.5;
  color: white;
}

.alert {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px dashed #202020;
  font-size: 0.85rem;
}

.alert a {
  text-decoration: underline;
}

.title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.sub-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content span {
  font-size: 12px;
  display: block;
  line-height: 2;
}

.uppercase {
  text-transform: uppercase;
}

.icon-marry-search {
  width: 12px;
  height: 12px;
  background-image: url(images/layout/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-left: 0.1rem;
  vertical-align: middle;
}
