@media (max-width: 800px) {
  header {
    background-position: top;
    height: 10rem;
  }

  main {
    padding: 2rem;
  }

  .to-top {
    right: 1rem;
  }

  .modal {
    width: 90%;
  }

  .menu {
    padding: 1.5rem;
  }

  .menu-dropdown {
    display: none;
    margin-top: 1.5rem;
    overflow: auto;
    overflow: auto;
    height: 350px;
  }

  .dropdown {
    margin: 0;
    width: 100%;
    margin-bottom: 1rem;
  }

  .dropdown-content {
    border: none;
    background-color: black;
    position: relative;
  }

  .menu-mobile {
    display: flex;
  }

  .character {
    display: contents;
  }

  .inventory {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 124px;
  }

  .inventory-slot {
    min-width: 100px;
    height: 100px;
    margin: 1rem;
  }

  .equipped-item {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 124px;
  }
}
